<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnStr_Read" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.3.61;User ID=pmuser;Password=pm123!@#;Initial Catalog=扬尘监测系统;"/>
    <add name="ConnStr_Write" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.3.61;User ID=pmuser;Password=pm123!@#;Initial Catalog=扬尘监测系统;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="DBPath" value="F:\Code\扬尘监控系统\扬尘在线监控系统\实现\trunk\扬尘监测系统\PMSoft.TimingSchedulerServer\Config\DBPath.xml"/>
    <add key="AQIParamXMLPath" value="F:\Code\扬尘监控系统\扬尘在线监控系统\实现\trunk\扬尘监测系统\PMSoft.TimingSchedulerServer\Config\AQI.xml"/>
  </appSettings>
</configuration>
